/* Basic Reset */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  font-family: sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

.toggle-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.sidebar {
  width: 0;
  overflow-x: hidden;
  transition: width 0.6s;
  background-color: pink;
  color: white;
  padding-top: 60px;
  position: fixed;
  height: 100%;
  z-index: 1;
}

.sidebar.open {
  width: 200px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 15px 20px;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
}

.content {
  flex-grow: 1;
  margin-left: 60px;
  padding: 20px;
}
.header{
  background-color: blanchedalmond;
}