.body {
  background-color: aqua;
}
.footer {
  background-color: rgb(129, 236, 129);
  width: 1200px;
  /* position: fixed;
  bottom: 0 ; */
}
.shopping {
  background-color: aquamarine;
  height: 100%;
  width: 100%;
}
.item { 
  width: 80%;
  height: 50%;
}
.shop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-bottom: 10px;
}
.footercopyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerlist {
  list-style-type: none;
}
.nh {
  background-color: rgb(184, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f7f9fc;
  font-family: "Roboto", sans-serif;
}

.login-card {
  display: flex;
  width: 100%;
  max-width: 1000px;
  background: white;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

.login-left {
  flex: 1;
  background: #e7f7f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.login-left img {
  max-width: 100%;
}

.login-right {
  flex: 1;
  padding: 40px;
}

.login-right h2 {
  margin-bottom: 10px;
  color: #333;
}

.login-right p {
  font-size: 14px;
  margin-bottom: 25px;
  color: #666;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  font-size: 14px;
  color: #333;
  display: block;
  margin-bottom: 6px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}
.input-group-select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}
.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 13px;
  color: #555;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  background-color: #0066ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 12px;
}

.btn-secondary {
  width: 100%;
  padding: 12px;
  background-color: #f1f1f1;
  color: #333;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.social-text {
  text-align: center;
  margin: 20px 0 10px;
  font-size: 14px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-icons img {
  width: 32px;
  cursor: pointer;
}
.product-form-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-bottom: 10px;
}
.image {
  width: 80%;
  height: 50%;
}
